<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Song Popularity Visualization</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/css/top-tracks.css">
  </head>
  <body>
    <h1 class="chart-title">Popularity of Your Top 10 Tracks</h1>
    <div id="visualization"></div>

    <script>
      const tracksData = <%- JSON.stringify(data) %>;
    </script>
    <script src="/js/top-tracks.js"></script>
  </body>
</html> 